*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

#intro{
    color: white;
    background-color: rgb(31, 36, 90);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
#name{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
}
#keySkill{
    padding: 10px;
    font-style: italic;
    font-size: 15px;
    font-weight: 1px;
}
.container1{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: white;
    margin-top : 5%;
    padding: 3%;
    border-radius: 5px;
}
h3{
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-size: 25px;
    padding-bottom: 2%;
}
p{
    font-size: 15px;
    color: rgb(102, 97, 97);
}
.field{
    padding: 2%;
    height: 5%;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    background-color: white;
    
    text-align: center;

}

.container2{
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(200, 244, 255);
    margin-top : 5%;
    padding: 3%;
}
.container3{
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(250, 243, 191);
    margin-top : 5%;
    padding: 3%;
}
.container4{
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(238, 229, 249);
    font-style: italic;
    margin-top : 5%;
    padding: 3%;
}
.container5{
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(218, 254, 220);
    margin-top : 5%;
    padding: 3%;
}

#footer{
    margin-top: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: white;
    font-size: 12px;
    background-color: rgb(31, 36, 90);
}